/* ========================================
 * Author: abdulawal@atilimited.net
 * ========================================
 */

.sweet-alert{
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.sweet-alert .sa-icon,
.sweet-alert .sa-icon.sa-success .sa-placeholder{
	border-radius: 50% !important;
}

.ui-datepicker{
	z-index: 100000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
	/* pointer-events: none; */
	cursor: not-allowed;
}
.dataTables_wrapper .pagination>li>a,
.dataTables_wrapper .pagination>li>span{
	padding: 5px 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	min-width: 10px;
    padding: 5px 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: none;
	border: 1px solid transparent;
}
.help_tooltip{
	display: inline-block;
	color: #333;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.padding-top-25{
	padding-top: 25px;
}
.padding-bottom-10{
	padding-bottom: 10px;
}
.no_margin{
	margin-left: 0px;
	margin-right: 0px;
}
.section_box_gray {
    background-color: #E0E0E0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ui-tooltip{
	z-index: 10000000 !important;
}

.modal-header{
 	background-color: #32c5d2;
    color: white;
    text-align: center;
}
.modal-body .alert{
 	margin-bottom: 5px;
}
.modal_top_title{
	display: none !important;
	opacity: 0;
	visibility: hidden;
}
.form-example-helper{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #636363;
}

.tender_view label{
	font-weight: 700;
}
.tender_view p{
	margin-top: 0px;
	margin-bottom: 5px;
}
.tender_view .table-bordered>thead>tr>th{
	text-align: center;
}

span.error-help-block, .help-block, .required_field{
 	color: red;
}

.scroll-to-top{
	right: 15px;
	bottom: 30px;	
}

/**
 * Purple body theam
 * 
 */
.body_purple .page-header.navbar, 
.body_purple .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle, 
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover{
	background-color: #683091;
}
.body_purple, .body_purple .page-sidebar, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, 
.body_purple .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, 
.body_purple .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle, 
.body_purple .dropdown-menu, .label-primary[href]:focus, 
.body_purple .label-primary[href]:hover{


}
.body_purple, .body_purple .page-sidebar,
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover{

	background: -moz-linear-gradient(top, rgba(191,191,191,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(191,191,191,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(191,191,191,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6bfbfbf', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.body_purple .page-sidebar .page-sidebar-menu>li.active.open>a, 
.body_purple .page-sidebar .page-sidebar-menu>li.active>a, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a{
	background-color: #609513;
}
.body_purple .page-sidebar .page-sidebar-menu>li>a, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
	border-color: #fff;
	color: #333;
	border-bottom: 1px solid #ccc;
}
.body_purple .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, 
.body_purple .page-sidebar .page-sidebar-menu li>a>.arrow:before, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before, 
.body_purple .page-sidebar .page-sidebar-menu>li>a>i, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i, 
.body_purple .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu>li>a, 
.body_purple .dropdown-menu>li>a>[class*=" icon-"], .dropdown-menu>li>a>[class^=icon-], 
.body_purple .page-sidebar .page-sidebar-menu .sub-menu>li>a, 
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username{
	color: #333;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, 
.body_purple .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i{
	color: #fff;
}
.body_purple .page-sidebar .page-sidebar-menu>li.open>a, 
.body_purple .page-sidebar .page-sidebar-menu>li:hover>a, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, 
.body_purple .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a, 
.body_purple .dropdown-menu>li:hover>a{
	background-color: #8DC641;
}
.body_purple .dropdown-menu>li{
	border-bottom: 1px solid #683091;
}
.body_purple .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, 
.body_purple .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, 
.body_purple .page-sidebar .page-sidebar-menu .sub-menu>li.open>a{
	background-color: #8F8F8F !important;
}
.body_purple .btn-primary, .body_purple .label-primary, .body_purple .pagination>.active>a{
	background-color: #683091;
	border-color: #8F52A0;
}
.body_purple .page-header.navbar .menu-toggler{
	
}
.body_purple .modal-header{
	background-color: #8F52A0;
}
.body_purple .tabbable-line>.nav-tabs>li.active{
	border-color: #683091;
}
.body_purple .tabbable-line>.nav-tabs>li:hover{
	border-color: #8F52A0;
}
.body_purple .green, .body_purple .btn-success{
	background-color: #609513 !important;
	border-color: #8dc641 !important;
	color: #FFFFFF !important;
}
.body_purple .table-bordered>tbody>tr>td, 
.body_purple .table-bordered>tbody>tr>th, 
.body_purple .table-bordered>tfoot>tr>td, 
.body_purple .table-bordered>tfoot>tr>th, 
.body_purple .table-bordered>thead>tr>td, 
.body_purple .table-bordered>thead>tr>th{
	color: #333;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a.unseen{
	background-color: #e0e0e0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu{
	min-width: 300px;
	max-width: 100%;
	width: 300px;
}

.btn_loader{
	background-color: transparent !important;
	background: url(../../img/loader.gif) no-repeat;
	background-size: 32px 32px;
	background-position: center;
	pointer-events: none;
	border: 1px solid #CCCCCC;
	opacity: 0.95;
	color: #FFFFFF;
}
.btn_loader:focus{
	background-color: transparent !important;
	color: #FFFFFF;
}
.page_heading{

} 
.table>thead>tr>th, .table>tbody>tr>td, 
.easy-pie-chart span{
	color: #333;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
	padding: 6px 15px;
}

#result_content{
	display: none;
}
img.form_loader{
	display: none;
	width: 30px;
	margin-left: 15px;
	float: left;
}

.bank_pay_order, .cash_order{
	display: none;
}
#payment_form label{
	font-weight: 600;
}

form#payment_gw{
	width: 0px;
	height: 0px;
	position: absolute;
	opacity: 0;
	display: none;
}