.modal-body{
	padding-top: 5px;
}
.radio-inline .radio{
    padding-top: 2px;
}
.row_single{
    position: relative;
    padding-bottom: 15px;
}
.append_item, .tax_item{
	padding-bottom: 15px;
}
.append_file{
	padding-top: 15px;
	padding-bottom: 0px;
}
.append_btn_margin{
	margin-top: 15px;
}
/* .dolil_add_more, .dcr_add_more, 
.ledger_add_more, .baiha_add_more{
	float: right;
} */
span.remove_item, span.remove_item_record, 
span.remove_file, span.land_type_use, 
span.remove_land_type_use{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: auto;
    right: 7px;
    line-height: 20px;
    border: 1px solid #B55858;
    border-radius: 50% !important;
    font-size: 14px;
    text-align: center;
    color: #B55858;
    cursor: pointer;
    z-index: 1000;
}
span.remove_file, #tax_multiple span.remove_item, #tax_multiple span.remove_item_record{
	top: -10px;
	right: 0;
}
span.remove_file{
	top: 5px;
	right: 5px;
}
span.land_type_use, 
span.remove_land_type_use{
	top: -13px;
	right: -11px;
}
span.remove_doc_record{
	width: 20px;
    height: 20px;
    line-height: 18px !important;
    border: 1px solid #B55858;
    text-align: center;
    border-radius: 50% !important;
	color: #B55858;
	cursor: pointer;
}

#land_form input[type=file]{
    border: 1px solid #C2CAD8;
}
#land_form .input-group-addon>i{
    color: #333;
}
.ui-datepicker{
    z-index: 99999 !important;
}
.help-block{
    color: red;
}
#land_use_table tbody>tr>td{
    position: relative;
    text-align: center;
}
#land_use_table tbody tr.total_row{
	display: none;
}
.btn_margin{
	margin-top: 26px;
}
.land_block_box{
	display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.land_box_gray{
    background-color: #E0E0E0;
}
.case_details_field{
	display: none;
	padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #e0e0e0;
}

.project_details label{
	font-weight: 700;
}
.project_details p{
	margin: 0px;
}

@media (min-width: 992px){
	.modal-lg {
	    width: 1010px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1009px){
	.modal-lg {
	    width: 950px !important;
	}
}
@media only screen and (min-width: 768px){
    button.land_type_add{
        margin-top: 25px;
    }
}