.radio-inline .radio{
    padding-top: 2px;
}
.ui-datepicker{
    z-index: 99999 !important;
}
.modal-content .modal-body{
	padding-top: 0px;
}
.modal-footer{
	display: none;
}
.form-wizard .steps>li.done>a.step .desc i{
	color: #00AF51;
}
.form-wizard .progress{
	margin-bottom: 20px;
}
.form-horizontal .no-margin{
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
} 
.wizard_form_error{
	border-color: #e73d4a;
}
img.form_loader{
	display: none;
	margin-top: 20px;
}
img.form_preloader{
	display: none;
	width: 32px;
}
img.box_loader{
	display: none;
	margin-left: auto;
	margin-right: auto;
}
#tab1 .table-striped>thead>tr>th.schedule_input, 
#tab1 .table-striped>tbody>tr>td.schedule_input{
	display: none;
}
#tab3 .table-striped>thead>tr>th.project_input, 
#tab3 .table-striped>tbody>tr>td.project_input, 
#tab5 .table-striped>thead>tr>th.project_input, 
#tab5 .table-striped>tbody>tr>td.project_input{
	display: none;
}
#tab1 .table-striped>tbody>tr.selected{
	background-color: #D0D0D0;
}
.tab-content .tab-scroll{
	max-height: 280px;
	overflow-y: scroll;
}
#tab5 label{
	font-weight: 700;
}
#tab5 p{
	margin: 0px;
}
#tender_form .form-group{
	margin-bottom: 15px;
}
#pro_dtls_sc_overview .form-control{
	border: none;
	pointer-events: none;
}
.portlet>.portlet-title{
	min-height: 20px;
}
.portlet.box>.portlet-title>.caption, 
.portlet>.portlet-title>.tools{
	padding: 5px 0 5px;
	font-size: 16px;
	line-height: 22px;
}
#pro_dtls_sc_overview span.required_field{
	display: none;
}
.tender_dt_single_row{
	margin-bottom: 10px;
}
.select2-container{
	width: 100% !important;
}
span.remove_clause, span.delete_clause{
	width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 15px;
    right: auto;
    line-height: 20px;
    border: 1px solid #B55858;
    border-radius: 50% !important;
    font-size: 14px;
    text-align: center;
    color: #B55858;
    cursor: pointer;
    z-index: 1000;
}
.form-wizard .nav>li>a{
	padding: 10px 5px;
}
.form-wizard .steps>li>a.step>.number{
	margin-right: 5px;
}
@media (min-width: 992px){
	.modal-lg {
	    width: 980px;
	}
}