.page-content{
	background-color: #EEF1F5;
}
.profile-sidebar-portlet{
	padding-bottom: 30px !important;
}
.disable_submit{
	pointer-events: none;
	opacity: 0.45;
}
.form-has-error{
	border: 1px solid red;
}
h3.page-header{
    margin-top: 0px;
    margin-bottom: 10px;
}
.portlet>.portlet-title>.nav-tabs{
    float: left;
}
#account_overview{
    padding: 5px;
}#account_overview .row{
    margin-bottom: 20px;
}
.profile-userpic img{
    border: 1px solid #EEEEEE;
}
.home_thumb{
    height: 280px;
    width: 100%;
    float: left;
}
.thumb_img_box{
    width: 150px;
    min-height: 100px;
    position: relative;
    border: 1px solid #b6b6b6;
    float: left;
}
.thumb_img_box button.btn{
    position: absolute;
    bottom: -30px;
}
.thumb_img_box button.fileclick{
    border-radius: 0px;
    left: 0px;
}
.thumb_img_box button.hide_comimg{
    border-radius: 0px;
    left: auto;
    right: 0px;
}

.citizen_user_info{
    margin-top: 20px;
    text-align: left;
}
.citizen_user_info label{
    font-weight: 700;
}
.citizen_user_info p{
    margin-top: 0px;
    margin-bottom: 10px;
}