/*
Social icons font: <a href="http://www.socicon.com" target="_blank" alt="Free social icons font" title="the social icons font">socicon</a>
*/

@font-face {
    font-family: 'socicon';
    src: url('http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/socicon/font/socicon.eot');
    src: url('font/socicon.eot') format('embedded-opentype'),
         url('font/socicon.woff') format('woff'),
         url('font/socicon.woff2') format('woff2'),
         url('font/socicon.ttf') format('truetype'),
         url('font/socicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}