/*--
	Theme Name: Universe
	Theme URI: xxx
	Author: Esmet Hajrizi
	Author URI: www.esmeth.com
	Description: College Education Responsive Template
	Version: 1.0
	License URI: http://
	Tags:
--*/

@import "./css/misc.css";
@import "./css/main.css";
@import "./css/color-scheme.css";
@import "./css/responsive.css";

.navbar{
	min-height: 40px !important;
}
.navbar-default {
    background-color: #683091 !important;
    border: none !important;
    border-radius: 0px !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #DDDDDD !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}
.navbar-nav>li{
	border-right: 1px solid #FFFFFF;
}
.navbar-nav.navbar-right>li {
	border-right: 0px;
}
.navbar-nav>li>a{
	padding: 10px 20px !important;
}
.navbar-nav>li>a.btn, .navbar-nav>li a.dropdown-toggle{
	background-color: #609513;
	border-radius: 0px;
	padding: 3px 5px !important;
	color: #FFFFFF;
}
.btn-default.focus, .btn-default:focus{
	border-color: #CCCCCC !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #7EA546 !important;
    color: #FFFFFF;
}
.navbar-collapse{
	max-height: 100% !important;
}

.flex-direction-nav{
	display: none !important;
}
.sub-header {
    color: #FF4F57;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.dropdown-menu li, .dropdown-menu a {
    font-size: 12px;
}
.dropdown-menu li {
    color: #333 !important;
    padding: 0px 5px 0px 8px;
}
.dropdown-menu a {
    color: #443266 !important;
}
.dropdown-menu li ul li:hover {
    background-color: #428BCA;
}
.dropdown-menu.login{
	background-color: #FFFFFF !important;
	width: 300px !important;
	padding-left: 10px;
	padding-right: 15px;
	right: -8px !important;
    top: 30px !important;
    border-radius: 0px !important;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    border-color: #CCCCCC !important;
}

.slider-caption{
	padding: 8px 24px;
}
.main-slideshow{

}
.help-block{
    color: red !important;
}

.contact-page-content{
	margin-top: 0px !important;
}

.info_header_style{
	padding-top: 12px !important;
    padding-bottom: 12px !important;
    background-color: #609513 !important;
    color: #FFFFFF !important;
    border-radius: 0px !important;
}
.info_header_style h4{
	color: #FFFFFF;
}
.widget-main{
	padding-bottom: 28px;
}
ul.widget-inner-list{
	margin-top: 20px;
	padding-right: 15px;
}
ul.widget-inner-list li:before{
	font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0px 10px 0px -15px;
    color: #80C342;
}
ul.widget-inner-list li{
	list-style: none;
	display: flex;
	padding-bottom: 10px;
}
ul.widget-inner-list li a{
	display: initial;
}
a.btn-more{
	background-color: #609513;
    border-radius: 0px;
    padding: 3px 5px;
    margin-top: 5px;
    margin-right: 15px;
    color: #FFF;
}
.tender_item .widget-inner p{
	margin-bottom: 0px;
}

.panel{
	border-radius: 0px !important;
}

.login .lh1 {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    padding-left: 10px;
}
.login .lh2 {
    font-size: 17px;
    font-weight: 300;
    color: #2D73A7;
}
.login a.account_problem{
	margin-left: 14px;
}
.login a.account_problem:hover{
	color: #23527c;
}
.login form {
    padding-left: 10px;
    padding-bottom: 18px;
}
.login_form a {
    text-decoration: none;
}
.login form span {
    color: #000000;
}
.login .form-group{
	margin-bottom: 12px;
}
.login .form-control{
	border-radius: 0px;
}
.login input[type="submit"] {
    background: #2D73A7;
    display: block;
    width: 100%;
    border: none;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -ms-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -o-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 95px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.hr {
    margin-top: 22px !important;
    border: none;
}
.hr .hr1 {
    width: 112px;
    border-top: 1px dotted #999999;
    margin-left: 10px;
    float: left;
}
.hr .or {
    width: 30px;
    margin-top: -8px;
    font-size: 12px;
    float: left;
}
.hr .hr2 {
    width: 112px;
    border-top: 1px dotted #999999;
    float: left;
}
.new_account {
    margin-left: 10px;
    padding-top: 30px;
    margin-bottom: 34px;
}
.login .new_account a {
    text-decoration: none;
    background: #609513;
    border: none;
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -moz-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -ms-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    -o-text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 15px;
    margin: 5px 0;
    padding: 8px 43px;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.advertisement_contents{
	display: none;
}
.main-slideshow{
	margin-top: 0px;
}
.commitment_text p{
	line-height: 30px;
	text-align: justify;
}
.commitment_text span.value_text{
	display: inline-block;
	min-width: 90px;
	border-bottom: 1px dotted #666;
	line-height: 15px;
	text-align: center;
    font-weight: 700;
}
.panel-body p{
    margin-bottom: 2px;
}

.tender_view label{
    font-weight: 700;
}
.tender_view p{
    margin-top: 0px;
    margin-bottom: 5px;
}
.tender_view .table-bordered>thead>tr>th{
    text-align: center;
}

@media only screen and (max-width: 767px) {
	.xs_contents{
		padding-right: 0px;
	}
	.navbar-nav>li a.dropdown-toggle{
		background-color: transparent !important;
		width: 100% !important;
		color: #FFFFFF !important;
	}
	.logo{
		margin-top: 0px;
	}
	.mobile_header_left, .mobile_header_right{
		position: absolute;
		top: 15px;
	}
	.mobile_header_left{
		left: 15px;
		right: auto;
	}
	.mobile_header_right{
		left: auto;
		right: 15px;
	}
	.header_title_text{
		padding-top: 80px;
	}
}

/* =========================== */
@font-face {
    font-family: bg-font;
    src: url('./font/AdorshoLipi_20-07-2007.ttf');
}
h1, h2, h3, h4, h5, h6, p, li, a, small{
    font-family: bg-font !important;
}
/* /var/www/html/ncc/public/assets/portal/css/color-scheme.css */
body,
.blog-list-meta a,
.event-small-meta,
.blog-grid-meta a,
.lightBtn,
.lightBtn:hover,
.blog-categories ul li a,
.comment-form label,
.course-search-form label {
    color: #222222;

}
.header_top_style{ border-top:3px solid #7ea546 !important;}

